.hide {
 display: none;
}

.btn {
 margin-top: 10px;
 margin-bottom: 20px
}

.photo {
 margin-top: 25px;
}

.result {
 font-size: larger;
}

.access-approved {
 color: green;
 font-weight: bold;
}

.access-forbidden {
 color: red;
 font-weight: bold;
}

img {
 width: 200px;
 height: 200px;
}


